@import "tailwindcss";

:root {
  --background: #f1f8ff;
  --foreground: #323432;
  --mid: rgb(55, 65, 81, 0.7);
  --card: #ffffff;
  --card-foreground: #070a13;
  --popover: #ffffff;
  --popover-foreground: #070a13;
  --primary: #6fd4e3;
  --primary-foreground: #f1f8ff;
  --secondary: #b4e04f;
  --secondary-foreground: #1a1c1e;
  --muted: #f2f7fc;
  --muted-foreground: #6e7b8d;
  --accent: #f2f7fc;
  --accent-foreground: #1a1c1e;
  --destructive: #f04438;
  --destructive-foreground: #f1f8ff;
  --border: #e4e8f0;
  --input: #e4e8f0;
  --ring: #22c3dd;
  --radius: 1rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.heading {
  font-family: "Abril Fatface", serif;
}

.text_light {
  color: var(--primary);
}

.text_dark {
  color: var(--foreground);
}

.text_dark_mid {
  color: var(--mid);
}
